$color-blue = #3190e8;
$bgc = #e4e4e4;
$fc = #fff;

bg-image($url)
  background-image: url($url)
  background-repeat: no-repeat;
  background-size: 100% 100%;

borderRadius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  -ms-border-radius: $radius
  -o-border-radius: $radius
  border-radius: $radius

allcover()
  position: absolute
  top: 0
  bottom: 0
  right: 0
  left: 0

// 上下左右居中
center-all()
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

// 上下居中
center-ud()
  position: absolute
  top: 50%
  transform: translateY(-50%)

// 左右居中
center-rl()
  position: absolute
  left: 50%
  transform: translateX(-50%)

// 宽高
wh($width, $height)
  width: $width
  height: $height

font($size, $color)
  font-size: $size
  color: $color

// 不换行
no-wrap()
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap

// 扩展点击区域
extend-click()
  position: relative
  &:before
    content: ''
    position: absolute
    top: -10px
    left: -10px
    right: -10px
    bottom: -10px

// flex布局 子元素对齐方式
flx($type)
  display: flex
  justify-content: $type

ellipsis()
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

clear()
  zoom: 1